<div class="title-home mb-lg-2">{{ site.subtitle }}</div>
<div class="pb-lg-3">
    <span class="title-bar-info pr-3">
        {% if site.social.github %}
                <span class="iconify" data-icon="octicon:mark-github"></span>
                <a class="title-bar-link" href="https://github.com/{{ site.social.github }}"><span>{{ site.social.github }}</span></a>
        {% endif %}
    </span>

    <span class="title-bar-info pr-3">
        {% if site.organization %}
                <span class="iconify" data-icon="octicon:organization"></span>
                <a class="title-bar-link" href="https://github.com/{{ site.organization }}"><span>{{ site.organization }}</span></a>
        {% endif %}
    </span>

    <span class="title-bar-info pr-3">
        {% if site.location %}
                <span class="iconify" data-icon="octicon:location"></span>
                <span>{{ site.location }}</span>
        {% endif %}
    </span>
</div>
