<footer class="container">
    <div class="site-footer" role="contentinfo">
        <div class="copyright left mobile-block">
            © <script>
                document.write(new Date().getFullYear())
            </script>
            <span title="{{ site.author}}">{{ site.author }}</span>
            <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
        </div>

        <ul class="site-footer-links right mobile-hidden">
            <li>
                <a href="javascript:window.scrollTo(0,0)">TOP</a>
            </li>
        </ul>
        <a href="{{ site.github.repository_url }}" target="_blank" aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
        </a>
        <ul class="site-footer-links mobile-hidden">
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ site.baseurl }}{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            <li><a href="{{ site.baseurl }}/feed.xml"><span class="octicon octicon-rss"
                        style="color:orange;"></span></a>
            </li>
        </ul>
    </div>
</footer>

<div class="tools-wrapper">
    <a class="gotop" href="#" title="Go to top"><span class="octicon octicon-arrow-up"></span></a>
</div>
