<footer class="container">
    <div class="site-footer" role="contentinfo">
        <div class="copyright left mobile-block">
            © <script>
                document.write(new Date().getFullYear())
            </script>
            <span title="{{ site.author}}">{{ site.author }}</span>
            <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
        </div>

        <ul class="site-footer-links right mobile-hidden">
            <li>
                <a href="javascript:window.scrollTo(0,0)">TOP</a>
            </li>
        </ul>
        <a href="{{ site.github.repository_url }}" target="_blank" aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
        </a>
        <ul class="site-footer-links mobile-hidden">
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ site.baseurl }}{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            <li><a href="{{ site.baseurl }}/feed.xml"><span class="octicon octicon-rss"
                        style="color:orange;"></span></a>
            </li>
        </ul>
    </div>
</footer>

<div class="tools-wrapper">
    <a class="gotop" href="#" title="Go to top"><span class="octicon octicon-arrow-up"></span></a>
</div>
<!-- / footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js" integrity="sha256-AOyAcXCKLfI+FRdiZr4VTj9h9Wwv0YXXa2CPfUWbBS8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js" integrity="sha256-jc6y1s/Y+F+78EgCT/lI2lyU7ys+PFYrRSJ6q8/R8+o=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css" integrity="sha256-N1K43s+8twRa+tzzoF3V8EgssdDiZ6kd9r8Rfgg8kZU=" crossorigin="anonymous" />
<script>
    jQuery(document).ready(function ($) {
        // geopattern
        $('.geopattern').each(function () {
            $(this).geopattern($(this).data('pattern-id'));
        });
        // hljs.initHighlightingOnLoad();
    });
</script>

{% if page.mathjax %}
<script type="text/javascript" src="https://basis-learning.github.io/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
