<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

    {% seo %}
    {% feed_meta %}
    {% if site.ga_measurement_id %}
        {% include google-analytics.html %}
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/3.0.1/css/primer.css" integrity="sha256-I1bA+6IrEoclfzXmN3hhxUi8IgJL+zOhA1TLSPwlR14=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css" integrity="sha256-/HXDwfKKg4bbl0dhRI5eWPbqL+ZYeu3AALaaAMkxYIs=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/collection.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/repo-card.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sections/repo-list.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sections/mini-repo-list.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/boxed-group.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/globals/common.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/globals/responsive.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/posts/index.css">
    <!-- Latest compiled and minified CSS -->
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{css}}">
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</head>
