<header>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="#">
                <span class="iconify" data-icon="octicon:mark-github"></span>
                {{ site.title }}
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    {% for item in site.data.navigation %}
                        <a class="nav-item nav-link text-right" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
</header>
