{% include toc.html %}

{% if page.layout != "post" and page.url != "/categories/" %}
    {% if site.github.public_repositories != null %}
        <div class="repo-list">
            <p class="name">My Popular Repositories</p>
            <div class="row">
                {% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse %}
                {% for repo in repos | limit: site.side_bar_repo_limit %}
                    <div class="col-sm-6 col-md-12 pb-3">
                        <a class="repo-card btn rounded p-0" href="{{ repo.html_url }}">
                            <div class="card p-1">
                                <div class="name rounded center text-light geopattern" data-pattern-id="{{ repo.name }}">
                                    {{ repo.name }}
                                </div>
                                <div class="info center">
                                    <div class="p-2">
                                        <div class="description mb-2">{{ repo.description }}</div>
                                        <div>
                                            <span class="iconify" data-icon="octicon:star"></span>
                                            <span class="pr-3">{{ repo.stargazers_count }}</span>
                                            <span class="iconify" data-icon="octicon:repo-forked"></span>
                                            <span class="pr-3">{{ repo.forks_count }}</span>
                                            <span class="iconify" data-icon="octicon:clock"></span>
                                            <span>{{ repo.updated_at | date: '%Y-%m-%d' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
