$primary: #4183c4;
$secondary: #d26911;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

.container {
    max-width: var(--breakpoint-lg);
}

.nav-item.active {
    border-bottom: 2px solid $secondary;
}

/* Title bar on top */
.title-home,
.title-bar-title {
    font-size: 20px;
    font-weight: 300;
}

.title-bar-info {
    font-size: 12px;
    font-weight: 200;
    display: inline-block;
}

@include media-breakpoint-up(sm) {
    .title-home,
    .title-bar-title {
        font-size: 28px;
    }

    .title-bar-info {
        font-size: 14px;
    }
}

@include media-breakpoint-up(md) {
    .title-home {
        font-size: 34px;
    }

    .title-bar-title {
        font-size: 32px;
    }

    .title-bar-info {
        font-size: 16px;
    }
}

/* Post list in home page */
.post-list {
    list-style-type: none;

    .title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .excerpt {
        font-family: 'Times New Roman', sans-serif;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .info {
        font-size: 14px;
    }
}

/* Sidebar */
.sidebar {
    .name {
        font-size: 16px;
        font-weight: bold;
    }
}

/* Repository card in sidebar */
.repo-card {
    width: 100%;
    opacity: .8;
    font-size: 12px;

    .name {
        height: 120px;
        font-size: 24px;
    }

    .description {
        line-height: 1.75em;
        height: 3.5em;
        overflow: hidden;
    }
}

.repo-card:hover {
    opacity: 1;
    box-shadow: 0 0 12px rgba(33, 33, 33, .2);
}

.repo-card.btn {
    border: none;
}
