---
layout: base
---

{% include titlebar.html %}
<div class="container">
    <div class="row my-2 my-md-4">
        <div class="content col-md-8">
            {{ content }}
        </div>
        <div class="sidebar col-md-4 mt-2 mt-md-0">
            {% include sidebar.html %}
        </div>
    </div>
</div>

<script>
    anchors.add();

    $("p img").each(function() {
        $(this).wrapAll('<a data-fancybox="images" data-caption="' + this.alt + '" href="' + this.src + '"></a>');
    });
    $('[data-fancybox="images"]').fancybox({
        transitionEffect: "slide",

        // Support for retina displays.
        afterLoad : function(instance, current) {
            var pixelRatio = window.devicePixelRatio || 1;

            if ( pixelRatio > 1.5 ) {
                current.width  = current.width  / pixelRatio;
                current.height = current.height / pixelRatio;
            }
        }
    });
</script>
