<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {% include head.html %}
    <body data-spy="scroll" data-target="#toc">
        {% include header.html %}
        {% include title-bar.html %}
        <div class="container">
            <div class="row my-2 my-md-4">
                <div class="content col-md-8">
                    {{ content }}
                </div>
                <div class="sidebar col-md-4 mt-2 mt-md-0">
                    {% include sidebar.html %}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>

<script>
    anchors.add();

    $("p img").each(function() {
        $(this).wrapAll("<a data-fancybox data-caption='" + this.alt + "' href='" + this.src + "'></a>");
    });

    {% if page.layout == "post" %}
        $(".content").addClass("order-12 order-md-1");
        $(".sidebar").addClass("order-1 order-md-12");
    {% endif %}
</script>
