<div class="category-list-group">
    <p class="name">Blog Categories</p>
    <ul class="list-group">
        {% assign sorted_categories = site.categories | sort %}
        {% for category in sorted_categories %}
            <li class="list-group-item">
                <a class="text-capitalize" href="#{{ category[0] }}">{{ category[0] }}</a>
                <span class="badge badge-pill badge-secondary float-right">{{ category[1].size }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
