<!-- https://github.com/tscanlin/tocbot/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.7.0/tocbot.css" integrity="sha256-XUbSD3m+xLW27W/mp9kMn+fI9AU2MoBkiMMSVVYWI+o=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.7.0/tocbot.min.js" integrity="sha256-5K/04vUxP94HmQ8f18TgufdyqE69WDJRMNga0JLhAtE=" crossorigin="anonymous"></script>

<div class="toc-container mb-2">
    <p class="name">Table of Contents</p>
    <div class="toc py-2 pr-2 mb-2"></div>
</div>

<script>
    // Show TOC if the article contains any heading.
    if ($("article h1, article  h2, article h3, article h4, article h5, article h6").length == 0) {
        $(".toc-container").addClass("d-none");
    }

    tocbot.init({
        // Where to render the table of contents.
        tocSelector: ".toc",
        // Where to grab the headings to build the table of contents.
        contentSelector: "article",
        // Which headings to grab inside of the contentSelector element.
        headingSelector: "h1, h2, h3, h4, h5, h6",
        collapseDepth: 6,
    });
</script>
